<input class="checkbox" type="checkbox" name="" id="" />
<div class="hamburger-lines">
  <span class="line line1"></span>
  <span class="line line2"></span>
  <span class="line line3"></span>
</div>
<div class="filter-items">
  <ng-container *ngIf="(tickers$ | async) as tickers">
    <div class="filter-group" *ngFor="let ticker of tickers">
      <button (click)="setActiveTicker(ticker)" type="button" id="option1"
        name="options" value="option1" [class.selected]="ticker.symbol === (selectedTicker$ | async)?.symbol">{{ ticker.name }}</button>
    </div>
  </ng-container>
</div>
